extends layout

block content
    div.listContainer
        each list in lists
            div.listCard
                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9TTyd6OFDYmLQd9sX3U53pL7sngU7lkyfEw&usqp=CAU" alt="Movie Image Thumbnail")
                p= list.name
                form(action="/my-lists/add-to-list", method="post")
                    input(type="hidden", name="movieId" value=movieId)
                    input(type="hidden", name="myListId" value=list.id)
                    button(type="submit") Add to List
