extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/carousel.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  
 
  .main 
    .topDiv
      div.editorsPick
        div
          h2 Editor's Picks
        div.topMoviesDiv
          each movie in movies
            if movie.year === 2022 || movie.year === 2020
              div.movieCard.topMovies
                a(href=`/movies/${movie.id}`).releasingSoonATag
                  img(src= movie.imageLink)
                  p.releasingSoonMovieTitle= movie.title
    .bottomDiv
      h2 Movies
      div.moviesDiv
        each movie in movies
          div.movieCard
            a(href=`/movies/${movie.id}`)
              img(src= movie.imageLink)
              p= movie.title
