extends layout

append head
//-   script(src="/javascripts/reviews.js" type="module" defer)

block content

    h2= myList.name

        form(action=`/my-lists/${myList.id}/delete`, method="post" class='deleteMyList' id=`myList_${myList.id}`)
            button(type='submit' class='deleteMyListButton' value= `${myList.id}`) Delete List
