extends layout

append head
//-   script(src="/javascripts/reviews.js" type="module" defer)

block content
    button(type="submit")
        a(href='/my-lists/new') New List
    div.listContainer
        each list in lists
            div.listCard
                a(href=`/my-lists/${list.id}`)
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9TTyd6OFDYmLQd9sX3U53pL7sngU7lkyfEw&usqp=CAU" alt="Movie Image Thumbnail")
                    p= list.name
