extends layout

append head


block content
    if errors
            p The following error(s) occurred:
            ul.errors
                each error in errors
                    li=  error
    form(action="/my-lists" method="post")
        input(type="hidden", name="_csrf" value=csrfToken)
        input(type="text" name="name" placeholder="Name your new list here" value=name)
        button(class='listNameButton') Create New List
