extends layout

append head
   link(rel="stylesheet" href="/stylesheets/signin.css")

block content
    form(action="/users/signin" method="post")
        input(type="hidden", name="_csrf" value=csrfToken)
        label(for="email") Email
        input(type="email" name="email")
        label(for="password") Password
        input(type="text" name="password")
        button(type="submit") Sign In
        button(type="submit")
            a(href='/users/signin/demo') Demo User
        a(href='/users/signup') Don't have an account? Create one now
