@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,300;0,700;1,900&display=swap');
.main {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 80%;
}

h2 {
  font-size: 30px;
}

hr {
  color: black;
}


.releasingSoon {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: solid black 1px;
  /* box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25); */
}

.moviesDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 100%;
  grid-gap: 10px;
  padding-top: 30px;
  margin-top: 20px;
}

.movieCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;

}

.movieCard p {
  margin: 10px;
  padding-bottom: 15px;
  height: 3vh;
  font-family: 'Poppins', sans-serif;

}

.movieCard img {
  object-fit: cover;
  height: 300px;
  width: 200px;
  text-align: center;
  border-radius: 1em;
}

.movieCard:hover {
  /* box-shadow: 0 4px 5px rgba(0,0,0,0.2);  */
  position: static;
  filter: grayscale(100%);
  font-style: italic;
}

.divider {
  z-index: 0;
  position: relative;
  top: 3px;
}

.dividerText {
  position: absolute;
  z-index: 6;
  font-size: 50px;
  top: -20px;
  left: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  padding: 0 10 0 10;
  letter-spacing: 1px;
}

.dividerTextMovies {
  position: absolute;
  z-index: 6;
  font-size: 50px;
  top: -30px;
  left: 30px;
  font-family: 'Playfair Display', serif;
    font-weight: bold;
  font-style: italic;
  background-color: white;
  padding: 0 10px 0 10px;
  letter-spacing: 3px;

}
