
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,300;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');


.main {
  display: flex;
  flex-direction: column;
  /* margin: 30px auto; */
  align-content: center;
  max-width: 100%;
}

h2 {
  font-size: 30px;
  padding-left: 190px;
  padding-top: 30px;
  z-index: 1;
  width: 80%;
}

.topDiv {
  display: flex;
flex-direction: column; 
align-content: center; 
width: 100%;
  padding-top: 50px;
  background-color: black;
  color: white;
  position: relative;
  padding-bottom: 20px;
}


.editorsPick {
display: flex;
flex-direction: column;
align-content: center;
/* background-color: red; */
}

.topMoviesDiv {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  background-color: black;
  /* box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25); */
}


.bottomDiv {
  background-color: black;
  color: white;
  background-color: rgb(20, 20, 20);


}
.moviesDiv {
  display: grid;  
  background-color: rgb(20, 20, 20);

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 80%;
  margin: 0 auto;
  grid-gap: 10px;
  padding-top: 20px;
}

.movieCard {
z-index: 1;
  text-align: center;
  background-color: rgb(20, 20, 20);

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;

}

.topMovies {
background-color: black;
}


.movieCard p {
  margin: 10px;
  padding-bottom: 15px;
  height: 3vh;
  font-family: 'Poppins', sans-serif;
}

.movieCard img {
  object-fit: cover;
  object-position: center;
  height: 365px;
  width: 250px;
  filter: saturate(1.5);

  text-align: center;
  border-radius: 1em;
}

.movieCard:hover {
  /* box-shadow: 0 4px 5px rgba(0,0,0,0.2);  */
  position: static;
  filter: grayscale(100%);
  font-style: italic;
  /* box-shadow: 0 0 3px 1px black; */
  transform: scale(1.05);
  transition: 400ms;
}

/*
.divider {
  z-index: 0;
  position: relative;
  top: 3px;
}

.dividerText {
  position: absolute;
  z-index: 6;
  font-size: 50px;
  top: -20px;
  left: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  /* font-style: italic; */
  background-color: white;
  padding: 0 10 0 10;
  letter-spacing: 1px;
}

.dividerTextMovies {
  position: absolute;
  z-index: 6;
  font-size: 50px;
  top: -30px;
  left: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  /* font-style: italic; */
  background-color: white;
  padding: 0 10px 0 10px;
  letter-spacing: 3px;

}
*/