
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Beastly&family=Sedgwick+Ave&display=swap');
* {
    text-decoration: none;
}

 /*
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:wght@600&display=swap');

* {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}

html, body {
  height: 100%;
  position: relative;
  overflow: auto;
  background-color: rgb(20, 20, 20);

}
*/


nav {
    display: flex;
    justify-content: space-between;

    align-items: center;    
    background-color: black;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 4;
    padding: 15px 25px 15px 60px;
  }

  .myLists, .signOut, .demoUser {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 18px;

  }
.empty {
  display: flex;
}

.profilePic {
  object-fit: cover;
  max-width: auto;
  max-height: 50px;
  padding-right: 10px;
}

.logo {
  font-family: 'Rubik Beastly', cursive;
  /* font-family: 'Sedgwick Ave', cursive; */
    color: #0e3742;
  /* color: palegoldenrod; */
  position:relative; 
  font-size: 3em; 
  letter-spacing: 2px; 
  center; -webkit-box-reflect: below .5px linear-gradient(transparent, #0008); 
  line-height: 0.70em; 
  outline: none;  
  animation: neon 5s linear infinite;
/*
    align-content: center;
    padding: 15px;
    /* margin: 0; */
    background-color: black;
    color: white;
    /* height: 10%; */
    /* position: sticky; */
    /* top: 0; */
    margin-bottom: 50px;
    z-index: 7;
  */
}
/*
.logo {
  font-size: 20px;
  font-family: 'Anton', sans-serif;

}
*/
@keyframes neon {  
  0%, 18%, 20%, 50%, 60%, 65.2%, 80%, 90.1%, 92% {
    /* color: #0e3742;  */
    color: palegoldenrod;
    text-shadow: none;
  }
    18%, 20%, 30%, 50%, 60.2%, 80%, 90.1% {
      color: #fff; 
      text-shadow: 0 0 10px #03bcf4, 
      0 0 20px #03bcf4, 
      0 0 40px #03bcf4, 
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
    } 
}


.logo:hover {
  color: #86868B;
}

.myLists:hover {

  color: rgb(197, 194, 194);

/*
  color: #86868B;
*/
}

.signOut:hover {
  color: #86868B;
}

.signIn:hover {
  color: #86868B;
}

.signUp:hover {
  color: #86868B;
}

.details:hover {
  color: #86868B;
}

.movies:hover {
  color: #86868B;
}

.topRight {
  float: right;
}

.topRight a {
  padding: 0 5px;
}

  .pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }


  .footer {
    /* margin: 100px 0 0 0; */
    background-color: rgb(29, 29, 31);

/*footer {
    width: 100%;
    position: relative;
    /* margin: 100px 0 0 0; */
    background-color: white;
*/
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    min-height: 10%;
    background-color: rgb(29, 29, 31);
    bottom: 0;
}

.details, .movies {
    color: white;

    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 18px;
    height: 200px;
    padding: 85px 20px 30px 20px;
  }
   
/*
    /* height: 50px; */
    align-self: center;
    justify-self: center;
    /* padding-top: 50%; */
    padding-left: 60px;
}
*/
