@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Beastly&family=Sedgwick+Ave&display=swap');
* {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: black;
    color: white;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 4;
    padding: 15px 25px 15px 60px;
  }

  .myLists, .signOut, .demoUser {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 18px;

  }
.empty {
  display: flex;
}

.profilePic {
  object-fit: cover;
  max-width: auto;
  max-height: 50px;
  padding-right: 10px;
}

.logo {
  font-family: 'Rubik Beastly', cursive;
  /* font-family: 'Sedgwick Ave', cursive; */
    color: #0e3742;
  /* color: palegoldenrod; */
  position:relative; 
  font-size: 3em; 
  letter-spacing: 2px; 
  center; -webkit-box-reflect: below .5px linear-gradient(transparent, #0008); 
  line-height: 0.70em; 
  outline: none;  
  animation: neon 5s linear infinite;
}

@keyframes neon {  
  0%, 18%, 20%, 50%, 60%, 65.2%, 80%, 90.1%, 92% {
    /* color: #0e3742;  */
    color: palegoldenrod;
    text-shadow: none;
  }
    18%, 20%, 30%, 50%, 60.2%, 80%, 90.1% {
      color: #fff; 
      text-shadow: 0 0 10px #03bcf4, 
      0 0 20px #03bcf4, 
      0 0 40px #03bcf4, 
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
    } 
}


.logo:hover {
  color: rgb(197, 194, 194);
}

.myLists:hover {
  color: rgb(197, 194, 194);

}

.signOut:hover {
  color: rgb(197, 194, 194);
}

.signIn:hover {
  color: rgb(197, 194, 194);
}

.signUp:hover {
  color: rgb(197, 194, 194);
}

.details:hover {
  color: rgb(197, 194, 194);
}

.movies:hover {
  color: rgb(197, 194, 194);
}

.topRight {
  float: right;
  }

.topRight a {
  padding: 0 5px;
  }


  footer {
    background-color: black;
    width: 100%;
  }

  .footer {
    /* margin: 100px 0 0 0; */
    background-color: rgb(29, 29, 31);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 18px;
    height: 200px;
    padding: 85px 20px 30px 20px;
  }
   