@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:wght@600&display=swap');

* {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 1px;
}

html, body {
  height: 100%;
  position: relative;
  overflow: auto;
  background-color: rgb(20, 20, 20);
}


nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    /* margin: 0; */
    background-color: black;
    color: white;
    /* height: 10%; */
    /* position: sticky; */
    /* top: 0; */
    margin-bottom: 50px;
    z-index: 7;
}

.logo {
  font-size: 20px;
  font-family: 'Anton', sans-serif;
}
.logo:hover {
  color: #86868B;
}

.myLists:hover {
  color: #86868B;
}

.signOut:hover {
  color: #86868B;
}

.signIn:hover {
  color: #86868B;
}

.signUp:hover {
  color: #86868B;
}

.details:hover {
  color: #86868B;
}

.movies:hover {
  color: #86868B;
}

.topRight {
  float: right;
}

.topRight a {
  padding: 0 5px;
}

  .pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

footer {
    width: 100%;
    position: relative;
    /* margin: 100px 0 0 0; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    min-height: 10%;
    background-color: rgb(29, 29, 31);
    bottom: 0;
}

.details, .movies {
    color: white;
    /* height: 50px; */
    align-self: center;
    justify-self: center;
    /* padding-top: 50%; */
    padding-left: 60px;
}
