/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,300;0,700;1,900&display=swap'); */


.movieDetail {
  /* margin: 4em auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 3em;
  background: black;

}
.mainInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.mainInfo img {
  width: 400px;
  height: 600px;
  box-shadow: 0 15px 15px 5px rgba(0,0,0,.4);
  /* border: solid rgb(245, 243, 243); */
  border-radius: 1em;
  object-fit: cover;
  background: black;


}

.movieDetailData {
  text-align: center;
  color: white;
  background: black;

  /* margin: -10px 10px 20px 25px; */
}


/* .listSubmission {
  border-radius: 1em;
  border: solid rgb(175, 171, 171);} */

/* .mainInfo > h2 {
  font-weight: bolder;
font-family: 'Playfair Display', serif; 
  font-size: larger;
} */

/* .descContain {
  border: solid lightgray;
  margin: 25px 10px 25px 10px;
  border-radius: 10px;
} */
/* 
.customText {
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  padding: 5%;;
  margin: 25px 10px 25px 10px;
} */


/* dark mode: */
.background {
  background-color: black;
  height: 100%;
  /* margin: 0; */
}

.mainInfo img {
  box-shadow: 0 15px 15px 5px rgba(255,255,255,.4);

}
input, textarea {
  background: white;
}

button {
  background: white;
  color: black;
}
button:hover {
  background: black;
  color: white;
  box-shadow: 0 2px 5px 0 white;
}

.movieDetailInfo {
  background-color: black;
}

.reviewBackground {
  padding-bottom: 60px;
}