* {
  /* background-image: url(https://preview.redd.it/4fxxbm4opjd31.jpg?auto=webp&s=f5b7d62076600a978d290a5e87f13140c47f5cd0); */
}
.movieDetail {
  margin: 4em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border-radius: 15px;
  /* box-shadow: 0 0 1px 2px rgba(0,0,0,.4); */
  padding: 3em;
  background: rgb(245, 243, 243);
  width: 60%;
}
.mainInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mainInfo img {
  width: 400px;
  height: 600px;
  /* box-shadow: 0 0 1px 2px rgba(0,0,0,.4); */
  border: solid rgb(245, 243, 243);
  border-radius: 1em;
  object-fit: cover;

}

.movieDetailData {
  text-align: center;
}

