* {
  /* background-image: url(https://preview.redd.it/4fxxbm4opjd31.jpg?auto=webp&s=f5b7d62076600a978d290a5e87f13140c47f5cd0); */
  /* background-color: rgb(20, 20, 20); */
}
.movieDetail {
  margin: 4em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 3em;
  /* light mode */
  background: rgb(245, 243, 243);

}
.mainInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2em;
}
h2 {
  font-size: 3vh;
  font-weight: 900;
}

.mainInfo img {
  width: 400px;
  height: 600px;
  box-shadow: 0 15px 15px 5px rgba(0,0,0,.4);
  border: solid rgb(245, 243, 243);
  border-radius: 1em;
  object-fit: cover;

}

.movieDetailData {
  text-align: center;
  color: white
}



/* dark mode: */
.background {
  /* background: #86868B; */
  background: black;
  height: 100%;
  margin: 0;
}
.movieDetail {
  background: rgb(20, 20, 20)
}
.mainInfo img {
  box-shadow: 0 15px 15px 5px rgba(255,255,255,.4);

}
input, textarea {
  background: white;
}

h2 {
  color: white;
}

button {
  background: white;
  color: black;
}
button:hover {
  background: black;
  color: white;
  box-shadow: 0 2px 5px 0 white;
}
