.listContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}
.listContainer img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: left;
}
